footer#footer.bg--black
     .feature--nav.pb--30
      .featured-brands.foot-wrap
       h3.fs--18.color--orange.mb--20 FEATURED BRANDS
       .brands
        ul.brandsOrder 
          li
          a(href="#").fs--15.color--white Louis vuitton 
          li
          a(href="#").fs--15.color--white Rolex
          li
          a(href="#").fs--15.color--white Gucci 
          li
          a(href="#").fs--15.color--white Hermes 
          li
          a(href="#").fs--15.color--white Tory burch 
          li
          a(href="#").fs--15.color--white Chanel 
          li
          a(href="#").fs--15.color--white Omega
          li
          a(href="#").fs--15.color--white Breitling 
          li
          a(href="#").fs--15.color--white Michael kors 
          li
          a(href="#").fs--15.color--white Fendi
        ul.brandsOrder2 
          li
          a(href="#").fs--15.color--white Coach 
          li
          a(href="#").fs--15.color--white Cartier
          li
          a(href="#").fs--15.color--white Hublot 
          li
          a(href="#").fs--15.color--white Salvatore ferragamo 
          li
          a(href="#").fs--15.color--white  Burberry
          li
          a(href="#").fs--15.color--white Tag heuer 
          li
          a(href="#").fs--15.color--white Audemars piguet
          li
          a(href="#").fs--15.color--white Patek philippe 
          li
          a(href="#").fs--15.color--white Panerai 
          li
          a(href="#").fs--15.color--white Shop all brands 
      .featured-catagories.foot-wrap 
       h3.fs--18.color--orange.mb--20 FEATURED CATEGORIES
       ul.catagoryOrder
        li
         a(href="#").fs--15.color--white Women's fashion 
        li
         a(href="#").fs--15.color--white Women handbags
        li
         a(href="#").fs--15.color--white Men's fashion 
        li
         a(href="#").fs--15.color--white Luxury watches 
        li
         a(href="#").fs--15.color--white Designer jewellery 
        li
         a(href="#").fs--15.color--white Luxury gift 
        li
         a(href="#").fs--15.color--white Sunglasses
      .general.foot-wrap 
       h3.fs--18.color--orange.mb--20 GENERAL
       ul.generalOrder
        li
         a(href="#").fs--15.color--white About luxepolis 
        li
         a(href="#").fs--15.color--white Sell on luxepolis
        li
         a(href="#").fs--15.color--white Sell luxury watches on luxepolis 
        li
         a(href="#").fs--15.color--white Sell luxury handbags on luxepolis
        li
         a(href="#").fs--15.color--white Sell designer lehengas on luxepolis
        li
         a(href="#").fs--15.color--white Sell fine jewellery on luxepolis 
        li
         a(href="#").fs--15.color--white Accepted brands   
        li
         a(href="#").fs--15.color--white Authenticity 
        li
         a(href="#").fs--15.color--white Shipping &  cancellations policies
        li
         a(href="#").fs--15.color--white Faqs , delivery, returns 
      .legal.foot-wrap 
       h3.fs--18.color--orange.mb--20 LEGAL
       ul.legalOrder 
        li
         a(href="#").fs--15.color--white Terms of service 
        li
         a(href="#").fs--15.color--white Seller terms & conditions
        li
         a(href="#").fs--15.color--white Buyer terms & conditions 
        li
         a(href="#").fs--15.color--white Privacy policy
      .contact-luxepolis.foot-wrap 
       h3.fs--18.color--orange.mb--20 Contact luxepolis
       ul.contactOrder 
        li
         a(href="#").fs--15.color--white Careers 
        li
         a(href="#").fs--15.color--white Contact Us
       .luxepolis-social 
        h3.fs--18.color--orange.mb--20 Luxepolis on Social
        ul.lsOrder.pb--20
         li 
          a(href="#") 
           img(src=require('src/images/social1.png') alt="Facebook")
         li
           a(href="#")  
            img(src=require('src/images/social2.png') alt="Instagram")
         li
           a(href="#")  
            img(src=require('src/images/social3.png') alt="Youtube")
         li
           a(href="#")  
            img(src=require('src/images/social4.png') alt="Twitter") 
         li
           a(href="#")  
            img(src=require('src/images/social5.png') alt="Pintrest")
        ul.lsOrder2 
         li
          img(src=require('src/images/visa.png') alt="Visa")
         li
          img(src=require('src/images/paypal.png') alt="PayPal")
         li
          img(src=require('src/images/mastercard.png') alt="Mastercard")
         li
          img(src=require('src/images/american.png') alt="American")

     .contactData.pb--30.pt--20
      .contactInfo 
       span.fs--15.color--white Contact:
        a(href="#").fs--15.color--white +91 80 80 80 6827 
       span.fs--15.color--white Whatsapp:
        a(href="#").fs--15.color--white +91 961 991 7212
       span.fs--15.color--white Email: 
        a(href="#").fs--15.color--white vip@luxepolis.com
       p.fs--15.color--white Luxepolis Retail Services Pvt Ltd, B-403, 4th Floor, Tower B, Naman Midtown, Senapati Bapat Marg, Next to IndiaBulls Finance Centre, Elphinstone Road (W), Mumbai, Maharashtra 400013
      .brandInfo 
       p.fs--15.color--white Online luxury and international brands shopping in India at its best
       p.fs--15.color--white.mt--20 It's no longer just the privilege of a metro city or an urban area to shop online for their favorite luxury and international branded designer products. Luxepolis is India’s most trusted and leading online luxury marketplace, where it is possible for consumers even in the remote areas of India to shop authentic luxury, world’s best designer labels and international premium brands at value prices online. Every luxury branded product on Luxepolis comes with the assurance of authenticity and high quality. Luxepolis is the largest reseller of top luxury brands such as Louis Vuitton, Chanel, Hermes, Rolex, Omega, Breitling, Gucci, Cartier, BVLGARI, Fendi etc. and affordable luxury brands such as Michael Kors, Tory Burch, Coach, Kate Spade, Tag Heuer, Longines, Rado etc. The ultimate convenience of having to simply browse through their favorite online shopping website and place orders from the comfort of their home, and get it delivered in the shortest time possible at their doorstep is a service that is unbeatable. Luxepolis also provides easy financing and EMI options to make the luxury and international brands affordable.
     .copyright.font--center.pt--20
      a(href="#").color--white.fs--15 Copyright © 2015-2024 by luxepolis.com. All rights reserved. 