extends layout

block head
    

block content
    section.banner
       .breadcrum 
            ul.crumOrder 
                li.crumList.font--cerapro.fs--12.font--light Home
                li.crumList.font--cerapro.fs--12.font--light Sell 
                li.crumList.font--cerapro.fs--12.font--light Pre-owned Luxury & Vintage Watches
                li.crumList.font--cerapro.fs--12.font--medium Luxury Watches
       .cardWrapper
            p.fs--60.font--taviraj.font--light Sell with India's No.1 Luxury Marketplace
            p.fs--21.font--cerapro.font--normal.pb--30 Its Simple, Transparent and Secure
            p.fs--21.font--cerapro.font--normal.pb--10 Start Cleaning your wardrobe
            a.wrapperLink.fs--20.font--cerapro.font--medium.color--white.bg--black.font--center(href="#sticky-label") Select A Category To Sell
    section.topSelling.font--center
        p.fs--36.font--taviraj.font--medium Top Selling Categories
        .flex-box 
            .card 
                img(src=require('src/images/top-selling-categories/luxury-fashion.png') alt="Luxury Fashion")
                p.cardPara.fs--20.font--cerapro.mt--25.mb--60.font--normal Premium
                 br
                 |& Luxury Fashion
                a.sellNow.fs--20.font--cerapro.font--medium(href="#" target="_blank") Sell Now
            .card 
                img(src=require('src/images/top-selling-categories/luxury-watch.png') alt="Luxury Fashion")
                p.cardPara.fs--20.font--cerapro.mt--25.mb--60.font--normal Premium
                 br
                 |& Luxury Watches
                a.sellNow.fs--20.font--cerapro.font--medium(href="#" target="_blank") Sell Now
            .card 
                img(src=require('src/images/top-selling-categories/wedding-lehengas.png') alt="Luxury Fashion")
                p.cardPara.fs--20.font--cerapro.mt--25.mb--60.font--normal Designer
                 br
                 |Wedding Lehengas
                a.sellNow.fs--20.font--cerapro.font--medium(href="#" target="_blank") Sell Now
            .card 
                img(src=require('src/images/top-selling-categories/fine-jewelery.png') alt="Luxury Fashion")
                p.cardPara.fs--20.font--cerapro.mt--25.mb--60.font--normal Designer
                 br
                 |Fine Jewellery
                a.sellNow.fs--20.font--cerapro.font--medium(href="#" target="_blank") Sell Now
    #sticky-label.bg--white
        ul.sticky-order
         li  
          a.fs--18.font--cerapro.font--medium(href="#whySell") Why Sell with us?
         li  
          a.fs--18.font--cerapro.font--normal(href="#how-to-sell") How to Sell?
         li  
          a.fs--18.font--cerapro.font--normal(href="#manage-your-listings") Manage your listings
         li  
          a.fs--18.font--cerapro.font--normal(href="#get-payment") How Do We Get Payments?
         li.bg--black.color--white
          a.fs--20.font--cerapro.font--medium(href="#") Sell A Product
    section#whySell.bg--disabled 
        h3.font--center.pt--20.pb--20.font-taviraj Why Sell With Us?
        p.sellDesc.font--center.fs--18.font--cerapro.font--normal Luxepolis is pioneer in India's luxury marketplace business. We clock highest traffic amongst all upscale websites and highest average order value by attracting and winning the trust of millions of HNIs & Aspirational Indians
        .sell.container--fluid  
            img(src=require('src/images/banner/why-sell.png') alt="Why Sell") 
            ul.sellOrder 
             li.sellList 
              img(src=require('src/images/why-sell-with-us/highly-competitive.png') alt="Highly Competitive")
              h4.font--cerapro.pt--20.pb--10 Highly Competitive Quotes
              p.fs--18.font--cerapro.font-normal We are pioneers in pre-owned watch market and we know how to get the best value or return on investments (RoI) for you
             li.sellList 
              img(src=require('src/images/why-sell-with-us/anonymous.png') alt="Anonymous")
              h4.font--cerapro.pt--20.pb--10 Anonymous & Hassle-Free Selling
              p.fs--18.font--cerapro.font-normal List quick in 60 secs and anonymously. Privacy is assured We take care of everything: Negotiation, Shipping, Authentication, Service Checks and Costomer Support
             li.sellList 
              img(src=require('src/images/why-sell-with-us/unrivalled.png') alt="Unrivalled")
              h4.font--cerapro.pt--20.pb--10 Unrivalled Market Expertise
              p.fs--18.font--cerapro.font-normal None in India understands the pre-owned watch market better than Luxepolis. We will help sell your watch quickly
             li.sellList 
              img(src=require('src/images/why-sell-with-us/the-widest.png') alt="The Widest")
              h4.font--cerapro.pt--20.pb--10 The
               br
               |Widest
              p.fs--18.font--cerapro.font-normal We accept all recognized luxury and premium branded watches; New, Pre-owned, Vintage and Collector Pieces
    section#how-to-sell.pt--20.pb--20.container--fluid
        h3.font--center.pt--20.pb--20.font-taviraj How To Sell?
        .steps.mb--30
            p.fs--20.font--cerapro.font--normal.listProduct List Your Products
            p.fs--20.font--cerapro.font--medium.useConcierge.active2 Use Concierge Service
        .detailWrapper1 
            .step-detail1.pt--55.pb--55 
              img(src=require('src/images/how-to-sell/how-to-sell.png'))
              p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis assumenda et quae repellendus sunt recusandae doloribus dolores eaque aliquam veniam quaerat illum deserunt cum numquam, neque fugit laborum, qui architecto!Officiis voluptates nobis ratione, quidem consectetur aliquid ut minima consequatur, odit quis possimus sed vero cupiditate ex officia mollitia laborum qui? Laborum vel similique dolore veniam voluptas eligendi facere velit?Eveniet numquam earum quaerat dolorum rem iure temporibus, facere laboriosam eos quos in saepe neque, harum sed repudiandae impedit quae incidunt delectus magnam voluptas aperiam! Aliquam praesentium delectus accusamus obcaecati?Numquam fugit nisi magni, ratione repellat nam temporibus corporis, aliquam mollitia deserunt vitae inventore maxime alias sit quas quam! Fugit optio eum quis porro earum vel sint laborum nam quasi.Laudantium ducimus deserunt distinctio mollitia illo ullam non eum quidem maxime soluta? Distinctio, eum ut! Nostrum placeat ab vitae ipsum, et necessitatibus atque. Ipsum, magni! Necessitatibus nam labore asperiores odio.
        .detailWrapper2 
            .step-detail.pt--55.pb--55
                .rightSell 
                 ul.stepOrder#steppOrder 
                  li.stepList.mb--30#stepList1
                   img.mb--100(src=require('src/images/how-to-sell/step1.png') alt="List your product for sale")
                   .step1.pl--40 
                     p.fs--20.font--cerapro.font--medium List Your Products For Sale
                     p.fs--18.font--cerapro.font--normal You list your new/pre loved luxury and premium
                     br
                     |products for sale here. Its quick and easy.
                     span.email 
                      a.fs--18.font--cerapro.font--normal(href="mailto:vip@luxepolis.com") vip@luxepolis.com
                     span.tel1 
                      a.fs--18.font--cerapro.font--normal(href="tel:+919619916222") +919619916222
                     span.tel2 
                      a.fs--18.font--cerapro.font--normal(href="tel:+91 80 80 80 6827") +91 80 80 80 6827
                  li.stepList.mb--30.opacty#stepList2
                    img(src=require('src/images/how-to-sell/step2.png') alt="List your product for sale")
                    .step2.pl--40
                     p.fs--20.font--cerapro.font--medium We Take Care Of Everything
                  li.stepList.mb--30.opacty#stepList3
                    img(src=require('src/images/how-to-sell/step3.png') alt="List your product for sale")
                    .step3.pl--40
                     p.fs--20.font--cerapro.font--medium You Receive Payments
                .leftSell 
                 img.dotsimage1(src=require('src/images/how-to-sell/how-to-sell.png'))
                 img.dotsimage2(src=require('src/images/how-to-sell/sell2.png'))
                 span.dot1 
                 span.dot2 
                 span.dot3  
    section#what-sell.bg--disabled 
        h3.font--center.pt--20.pb--20.font-taviraj What Sells On Luxepolis
        ul.whatOrder
         li.women.fs--20.font--cerapro.font--light.active Women
         li.men.fs--20.font--cerapro.font--light.ml--30 Men
         li.watches.fs--20.font--cerapro.font--light.ml--30 Watches & Jewellery
         li.automobile.fs--20.font--cerapro.font--light.ml--30 Automobile
        .what-details.container--fluid
            .womenWrap 
                ul.wd-Order1
                 li.wd-List1
                  img(src=require('src/images/what-sells/accessories.jpg') alt="How to sell")
                  span Accessories 
                 li.wd-List1
                  img(src=require('src/images/what-sells/handbag.jpg') alt="How to sell")
                  span Handbags & Clutches 
                 li.wd-List1
                  img(src=require('src/images/what-sells/dresses.jpg') alt="How to sell")
                  span Dresses & Skirts 
                 li.wd-List1
                  img(src=require('src/images/what-sells/ethnic.jpg') alt="Ethnic & Wedding Wear")
                  span Ethnic & Wedding Wear 
                 li.wd-List1
                  img(src=require('src/images/what-sells/jackets.jpg') alt="Jackets & Outer Wear")
                  span Jackets & Outer Wear 
                 li.wd-List1
                  img(src=require('src/images/what-sells/sunglasses.jpg') alt="Sunglasses")
                  span Sunglasses 
                 li.wd-List1
                  img(src=require('src/images/what-sells/pants.jpg') alt="Pants & Denims")
                  span Pants & Denims
                 li.wd-List1
                  img(src=require('src/images/what-sells/shoes.jpg') alt="Shoes")
                  span Shoes
                 li.wd-List1
                  img(src=require('src/images/what-sells/sweaters.jpg') alt="Sweaters")
                  span Sweaters 
                 li.wd-List1
                  img(src=require('src/images/what-sells/tops.jpg') alt="Tops")
                  span Tops 
                 li.wd-List1
                  img(src=require('src/images/what-sells/blazers.jpg') alt="Blazers")
                  span Blazers
            .menWrap 
                ul.wd-Order2 
                 li.wd-List2 
                  img(src=require('src/images/what-sells/accessories.jpg') alt="How to sell")
                  span Accessories
                 li.wd-List2 
                  img(src=require('src/images/what-sells/jackets.jpg') alt="Jackets & Outer Wear")
                  span Jackets & Outer Wear
                 li.wd-List2 
                  img(src=require('src/images/what-sells/sunglasses.jpg') alt="Sunglasses")
                  span Sunglasses
                 li.wd-List2 
                  img(src=require('src/images/what-sells/blazers.jpg') alt="Blazers")
                  span Blazers
            .watchWrap 
                ul.wd-Order3
                 li.wd-List3
                  img(src=require('src/images/what-sells/accessories.jpg') alt="How to sell")
                  span Accessories
                 li.wd-List3 
                  img(src=require('src/images/what-sells/accessories.jpg') alt="How to sell")
                  span Accessories
                 li.wd-List3 
                  img(src=require('src/images/what-sells/accessories.jpg') alt="How to sell")
                  span Accessories
            .automobileWrap 
                ul.wd-Order4
                 li.wd-List4 
                  img(src=require('src/images/what-sells/sunglasses.jpg') alt="Sunglasses")
                  span Sunglasses
                 li.wd-List4 
                  img(src=require('src/images/what-sells/sunglasses.jpg') alt="Sunglasses")
                  span Sunglasses
                 li.wd-List4
                  img(src=require('src/images/what-sells/sunglasses.jpg') alt="Sunglasses")
                  span Sunglasses
    section#top-value
        h3.font--center.pt--20.pb--20.font-taviraj Top Value Minimal Efforts
        ul.valueOrder.container--fluid
         li.valueList
          img(src=require('src/images/top-value-minimal-effort/ebel-discovery.jpg') alt="Ebel Discovery")
          span.fs--20.font--cerapro.font--medium.bg--lightPink Sold For ₹ 6,50,000
          h5.font--cerapro.color--orange EBEL
          p.fs--18.font--cerapro.font--normal Ebel Discovery 1911 Chronograph 44MM
         li.valueList
          img(src=require('src/images/top-value-minimal-effort/prada.jpg') alt="Prada")
          span.fs--20.font--cerapro.font--medium.bg--lightPink Sold For ₹ 72,000 
          h5.font--cerapro.color--orange PRADA
          p.fs--18.font--cerapro.font--normal Prada Saffiano Lux Tote
         li.valueList
          img(src=require('src/images/top-value-minimal-effort/ebel-classic.jpg') alt="Ebel Classic")
          span.fs--20.font--cerapro.font--medium.bg--lightPink Sold For ₹ 38,000 
          h5.font--cerapro.color--orange EBEL
          p.fs--18.font--cerapro.font--normal Ebel Classic Wave 25MM Watch
         li.valueList
          img(src=require('src/images/top-value-minimal-effort/anita-dongre.jpg') alt="Anita Dongre")
          span.fs--20.font--cerapro.font--medium.bg--lightPink Sold For ₹ 1,22,000 
          h5.font--cerapro.color--orange ANITA DONGRE
          p.fs--18.font--cerapro.font--normal Anita Dongre Lehenga
         li.valueList
          img(src=require('src/images/top-value-minimal-effort/louis-vuitton.jpg') alt="Louis Vuitton")
          span.fs--20.font--cerapro.font--medium.bg--lightPink Sold For ₹ 1,50,000  
          h5.font--cerapro.color--orange LOUIS VUITTON
          p.fs--18.font--cerapro.font--normal Louis Vuitton Monogram Canvas Batignolles Horizontal Tote
         li.valueList
          img(src=require('src/images/top-value-minimal-effort/anita-dongre.jpg') alt="Anita Dongre")
          span.fs--20.font--cerapro.font--medium.bg--lightPink Sold For ₹ 1,22,000 
          h5.font--cerapro.color--orange ANITA DONGRE
          p.fs--18.font--cerapro.font--normal Anita Dongre Lehenga  
    section#manage-your-listings.bg--disabled.pb--20
        h3.font--center.pt--20.pb--30.font-taviraj Manage Your Listings
        p.font--center.fs--18.font--cerapro.font--normal Spend less time managing your shop and more time on the fun stuff.
        .flex-box.font--center.pt--30
            ul.boxOrder
             li.boxList
              img(src=require('src/images/manage-your-listing/manage.png') alt="Manage your listings")
              p.fs--20.font--cerapro.font--medium.pt--30.pb--20 Manage your Listings
              p.fs--16.font--cerapro.font--light Use the Luxepolis Seller account to track your product listings from anywhere.
             li.boxList
              img(src=require('src/images/manage-your-listing/analyse.png') alt="Manage your listings")
              p.fs--20.font--cerapro.font--medium.pt--30.pb--20 Analyse your Product Performance
              p.fs--16.font--cerapro.font--light Access detailed stats about the product's performance to get complete visibility on your product listing.
             li.boxList
              img(src=require('src/images/manage-your-listing/track.png') alt="Manage your listings")
              p.fs--20.font--cerapro.font--medium.pt--30.pb--20 Track Finances seamlessly
              p.fs--16.font--cerapro.font--light Get an understanding of your earnings and payments.
    section#get-payment.pb--50
        h3.font--center.pt--20.pb--20.font-taviraj How Do We Get Payments?
        .paymentSteps.container--fluid
            .accordion.mb--20
                p.fs--20.font--cerapro.font--medium How do you price?
                i.plusLogo.fa.fa-plus
            .accord-content.active.mb--10
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quod aut voluptas. At temporibus, rerum quam ab consectetur doloribus iste atque distinctio excepturi accusantium, commodi fugit porro illum fugiat blanditiis.Ea praesentium, mollitia voluptate quo nostrum excepturi ducimus vel, ullam distinctio aperiam cum consectetur saepe sapiente nesciunt laborum doloribus nihil animi a odit ad! Magnam nulla odit dolorum nam dicta.Fugit similique libero nemo modi? Ullam veritatis debitis delectus, alias, minima autem aperiam iste impedit vitae magnam quo sapiente. Quas qui, similique perferendis soluta natus deserunt consequuntur iure hic voluptas.Possimus suscipit, debitis ad ut asperiores ducimus delectus similique sequi laborum tenetur nisi. Laudantium fugiat quasi, numquam voluptas dolorem debitis aliquam ad cupiditate quis non eum nihil necessitatibus similique sapiente!Voluptate adipisci facilis eligendi fugiat voluptatum neque hic inventore praesentium quod sunt delectus, culpa laboriosam explicabo quidem iusto est beatae. Atque ipsam quibusdam aliquid! Expedita sint dolore repellat tempora accusamus?
            .accordion.mb--20
                p.fs--20.font--cerapro.font--medium What do you accept?
                i.plusLogo1.fa.fa-plus
            .accord-content.mb--10
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quod aut voluptas. At temporibus, rerum quam ab consectetur doloribus iste atque distinctio excepturi accusantium, commodi fugit porro illum fugiat blanditiis.Ea praesentium, mollitia voluptate quo nostrum excepturi ducimus vel, ullam distinctio aperiam cum consectetur saepe sapiente nesciunt laborum doloribus nihil animi a odit ad! Magnam nulla odit dolorum nam dicta.Fugit similique libero nemo modi? Ullam veritatis debitis delectus, alias, minima autem aperiam iste impedit vitae magnam quo sapiente. Quas qui, similique perferendis soluta natus deserunt consequuntur iure hic voluptas.Possimus suscipit, debitis ad ut asperiores ducimus delectus similique sequi laborum tenetur nisi. Laudantium fugiat quasi, numquam voluptas dolorem debitis aliquam ad cupiditate quis non eum nihil necessitatibus similique sapiente!Voluptate adipisci facilis eligendi fugiat voluptatum neque hic inventore praesentium quod sunt delectus, culpa laboriosam explicabo quidem iusto est beatae. Atque ipsam quibusdam aliquid! Expedita sint dolore repellat tempora accusamus?
            .accordion 
                p.fs--20.font--cerapro.font--medium What do you accept?
                i.plusLogo1.fa.fa-plus
            .accord-content.mb--10
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quod aut voluptas. At temporibus, rerum quam ab consectetur doloribus iste atque distinctio excepturi accusantium, commodi fugit porro illum fugiat blanditiis.Ea praesentium, mollitia voluptate quo nostrum excepturi ducimus vel, ullam distinctio aperiam cum consectetur saepe sapiente nesciunt laborum doloribus nihil animi a odit ad! Magnam nulla odit dolorum nam dicta.Fugit similique libero nemo modi? Ullam veritatis debitis delectus, alias, minima autem aperiam iste impedit vitae magnam quo sapiente. Quas qui, similique perferendis soluta natus deserunt consequuntur iure hic voluptas.Possimus suscipit, debitis ad ut asperiores ducimus delectus similique sequi laborum tenetur nisi. Laudantium fugiat quasi, numquam voluptas dolorem debitis aliquam ad cupiditate quis non eum nihil necessitatibus similique sapiente!Voluptate adipisci facilis eligendi fugiat voluptatum neque hic inventore praesentium quod sunt delectus, culpa laboriosam explicabo quidem iusto est beatae. Atque ipsam quibusdam aliquid! Expedita sint dolore repellat tempora accusamus?
    section#brand-you-love.bg--disabled.pb--35
         h3.font--center.pt--35.pb--20.font-taviraj Brands You Love. Brands We Accept & Many More...
         ul.container--fluid.loveOrder
          li.loveList
           img(src=require('src/images/brands-you-love/1.jpg') alt="Louis Vitton")
          li.loveList
           img(src=require('src/images/brands-you-love/2.jpg') alt="Christian Dior")
          li.loveList
           img(src=require('src/images/brands-you-love/3.jpg') alt="Hermes Paris")
          li.loveList
           img(src=require('src/images/brands-you-love/4.jpg') alt="Chanel")
          li.loveList
           img(src=require('src/images/brands-you-love/5.jpg') alt="Rolex")
          li.loveList
           img(src=require('src/images/brands-you-love/6.jpg') alt="Ywes Saint Laurent")
          li.loveList
           img(src=require('src/images/brands-you-love/7.jpg') alt="Gucci")
          li.loveList
           img(src=require('src/images/brands-you-love/8.jpg') alt="Prada")
          li.loveList
           img(src=require('src/images/brands-you-love/9.jpg') alt="Cartier")
          li.loveList
           img(src=require('src/images/brands-you-love/10.jpg') alt="Omega")
          li.loveList
           img(src=require('src/images/brands-you-love/11.jpg') alt="Panerai")
          li.loveList
           img(src=require('src/images/brands-you-love/12.jpg') alt="Jimmy Choo")
          li.loveList
           img(src=require('src/images/brands-you-love/13.jpg') alt="Salvatore Ferragamo")
          li.loveList
           img(src=require('src/images/brands-you-love/14.jpg') alt="Michael Kors")
          li.loveList
           img(src=require('src/images/brands-you-love/15.jpg') alt="Coach")
          li.loveList
           img(src=require('src/images/brands-you-love/16.jpg') alt="Tory Burch")
          li.loveList
           img(src=require('src/images/brands-you-love/17.jpg') alt="Furla")
          li.loveList
           img(src=require('src/images/brands-you-love/18.jpg') alt="Bvlgari")
          li.loveList
           img(src=require('src/images/brands-you-love/19.jpg') alt="Bottega Veneta")
          li.loveList
           img(src=require('src/images/brands-you-love/20.jpg') alt="Emporio Armani")
          li.loveList
           img(src=require('src/images/brands-you-love/21.jpg') alt="DKNY")
          li.loveList
           img(src=require('src/images/brands-you-love/22.jpg') alt="Fendi")
          li.loveList
           img(src=require('src/images/brands-you-love/23.jpg') alt="Burberry")
          li.loveList
           img(src=require('src/images/brands-you-love/24.jpg') alt="Roberto Cavelli")
          li.loveList
           img(src=require('src/images/brands-you-love/25.jpg') alt="Tumi")
          li.loveList
           img(src=require('src/images/brands-you-love/26.jpg') alt="Ralph Lauren")
          li.loveList
           img(src=require('src/images/brands-you-love/27.jpg') alt="Versace")
          li.loveList
           img(src=require('src/images/brands-you-love/28.jpg') alt="Alexander Mcqueen")
          li.loveList
           img(src=require('src/images/brands-you-love/29.jpg') alt="Tag Heuer")
          li.loveList
           img(src=require('src/images/brands-you-love/30.jpg') alt="Kenneth Cole")
          li.loveList
           img(src=require('src/images/brands-you-love/31.jpg') alt="Rado")
          li.loveList
           img(src=require('src/images/brands-you-love/32.jpg') alt="Longines")
          li.loveList
           img(src=require('src/images/brands-you-love/33.jpg') alt="Miu Miu")
          li.loveList
           img(src=require('src/images/brands-you-love/34.jpg') alt="Christian Soul")
          li.loveList
           img(src=require('src/images/brands-you-love/35.jpg') alt="BMW")
          li.loveList
           img(src=require('src/images/brands-you-love/36.jpg') alt="Audi")
          li.loveList
           img(src=require('src/images/brands-you-love/37.jpg') alt="Mercedes Benz")
          li.loveList
           img(src=require('src/images/brands-you-love/38.jpg') alt="Tommy Hilfiger")
          li.loveList
           img(src=require('src/images/brands-you-love/39.jpg') alt="Lanvin Paris")
          li.loveList
           img(src=require('src/images/brands-you-love/40.jpg') alt="Aspen")
          li.loveList
           img(src=require('src/images/brands-you-love/41.jpg') alt="Breitling")
          li.loveList
           img(src=require('src/images/brands-you-love/42.jpg') alt="Mont Blanc")
          li.loveList
           img(src=require('src/images/brands-you-love/43.jpg') alt="Cup")
          li.loveList
           img(src=require('src/images/brands-you-love/44.jpg') alt="Armani Jeans")
          li.loveList
           img(src=require('src/images/brands-you-love/45.jpg') alt="Raymond Weil")
          li.loveList
           img(src=require('src/images/brands-you-love/46.jpg') alt="Citizen")
          li.loveList
           img(src=require('src/images/brands-you-love/47.jpg') alt="Marc Jacobs")
          li.loveList
           img(src=require('src/images/brands-you-love/48.jpg') alt="Alexander Wang")
          li.loveList
           img(src=require('src/images/brands-you-love/49.jpg') alt="Paul Smith")
          li.loveList
           img(src=require('src/images/brands-you-love/50.jpg') alt="Hugo Boss")
          li.loveList
           img(src=require('src/images/brands-you-love/51.jpg') alt="Hublot")
          li.loveList
           img(src=require('src/images/brands-you-love/52.jpg') alt="Ermenegildo Zegna")
          li.loveList
           img(src=require('src/images/brands-you-love/53.jpg') alt="Tom Ford")
          li.loveList
           img(src=require('src/images/brands-you-love/54.jpg') alt="Corum")
          li.loveList
           img(src=require('src/images/brands-you-love/55.jpg') alt="Long Champ")
          li.loveList
           img(src=require('src/images/brands-you-love/56.jpg') alt="Dsquared 2")
         p.lovePara.font--center
          a(href="#").fs--20.font--cerapro.font--medium.bg--black.color--white.shopBrand Shop All Brands
    section#asSeen.container--fluid
         h3.font--center.pt--70.pb--20.font-taviraj Luxepolis As Seen In
         ul.seenOrder.pb--30
          li.seenList
           img(src=require('src/images/as-seen-in/vogue.jpg') alt="Vogue")
          li.seenList
           img(src=require('src/images/as-seen-in/the-times.jpg') alt="The Times of India")
          li.seenList
           img(src=require('src/images/as-seen-in/bloomberg.jpg') alt="Bloomberg TV")
          li.seenList
           img(src=require('src/images/as-seen-in/economic.jpg') alt="The Economic Times")
          li.seenList
           img(src=require('src/images/as-seen-in/hindustan.jpg') alt="Hindustan Times")
          li.seenList
           img(src=require('src/images/as-seen-in/hello.jpg') alt="Hello")
          li.seenList
           img(src=require('src/images/as-seen-in/tribune.jpg') alt="The Tribune")
          li.seenList
           img(src=require('src/images/as-seen-in/mint.jpg') alt="Live Mint")
          li.seenList
           img(src=require('src/images/as-seen-in/hindu.jpg') alt="The Hindu")
          li.seenList
           img(src=require('src/images/as-seen-in/asian.jpg') alt="The Asian Age")
          li.seenList
           img(src=require('src/images/as-seen-in/forbes.jpg') alt="Forbes")
          li.seenList
           img(src=require('src/images/as-seen-in/fortune.jpg') alt="Fortune")
         .trustpilot.font--center 
            h4.pt--70.font-cerapro 9.8/10
            img(src=require('src/images/as-seen-in/trust.png') alt="Trustpilot")
    section#Social.bg--pink.container--fluid.pb--80
        h3.font--center.pt--70.pb--20.font-taviraj Luxepolis On Social
        p.font--center.fs--16.font--cerapro.font--normal Join the community stay up to date with the latest news from Luxepolis
        .social-Media.pt--60
            ul.mediaOrder 
             li.mediaList
              a(href="#" target="_blank")
               img(src=require('src/images/social/instagram.png') alt="Instagram")
             li.mediaList
              a(href="#" target="_blank")
               img(src=require('src/images/social/facebook.png') alt="Facebook")
             li.mediaList
              a(href="#" target="_blank")
               img(src=require('src/images/social/youtube.png') alt="Youtube")
             li.mediaList
              a(href="#" target="_blank")
               img(src=require('src/images/social/twitter.png') alt="Twitter")
             li.mediaList
              a(href="#" target="_blank")
               img(src=require('src/images/social/pintrest.png') alt="Pintrest")
    